{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'activity/css/reviews.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 text-center mt-3">
                <h2 class="reviews_header logo-font">{{activity.name}} Reviews</h2>
                <hr class="w-50 mb-1">
            </div>
            <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
                <div class="image-container">
                    {% if activity.image %}
                        <a href="{{ activity.image.url }}" target="_blank">
                            <img class="card-img-top img-fluid activity_detail_image" src="{{ activity.image.url }}" alt="{{ activity.name }}">
                        </a>
                    {% else %}
                        <a href="">
                            <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ activity.name }}">
                        </a>
                    {% endif %}
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="review_container shadow">
                    <h1>Submit your Review</h1>
                    <form id="review-form" method="POST" action="{% url 'reviews' activity_id %}">
                        {% csrf_token %}
                        <div class="rating">
                            <span id="rating">0</span>/5
                        </div>
                        <div class="stars" id="stars">
                            <span class="star" data-value="1">★</span>
                            <span class="star" data-value="2">★</span>
                            <span class="star" data-value="3">★</span>
                            <span class="star" data-value="4">★</span>
                            <span class="star" data-value="5">★</span>
                        </div>
                        <input type="hidden" name="review_rating" id="review_rating" value="0">
                        <p>Name:</p>
                        <textarea id="name" name="name" required></textarea>
                        <p>Share your review:</p>
                        <textarea id="review_description" name="review_description" placeholder="Write your review here" required></textarea>
                        <hr>
                        <button id="submit" value="submit">Submit</button>
                    </form>
                </div>
                <hr class="line-break w-50 mb-1">
            </div>
        </div>
    </div>

<section class="all_reviews">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="logo-font text-center mt-3">Customer Reviews of {{activity.name}}</h2>
            </div>
        </div>
    </div>

    <div class="container">
        {% if reviews %}
            {% for review in reviews %}
                <div class="review-card shadow">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="username"><i class="fas fa-user-circle user"></i> {{ review.name }}</div>
                        <div class="date">{{ review.created }}</div>
                    </div>
                    <hr class="w-100">
                    <div class="stars">
                        {% load custom_filters %}
                        {% for _ in review.review_rating|get_star_range %}
                            <span>&#9733;</span>
                        {% endfor %}
                    </div>
                    <div class="review-description">
                        {{ review.review_description }}
                    </div>
                </div>
                <br>
            {% endfor %}
        {% else %}
            <p class="text-center logo-font">No reviews added yet for {{ activity.name }}</p>
            <br>
        {% endif %}
    </div>

{% endblock %}

{% block postloadjs %}
    <script src="{% static 'activity/js/reviews.js' %}"></script>
{% endblock %}
