{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'activity/css/reviews.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 text-center mt-3">
            <h2 class="reviews_header logo-font">{{activity.name}} Reviews</h2>
            <hr class="w-50 mb-1">
            </div>
            <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
                <div class="image-container">
                    {% if activity.image %}
                        <a href="{{ activity.image.url }}" target="_blank">
                            <img class="card-img-top img-fluid activity_detail_image" src="{{ activity.image.url }}" alt="{{ activity.name }}">
                        </a>
                        {% else %}
                        <a href="">
                            <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ activity.name }}">
                        </a>
                    {% endif %}
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="review_container">
                    <h1>Submit your Review</h1>
                    <form id="review-form" method="POST" action="{% url 'reviews' activity_id %}">
                        {% csrf_token %}
                        <div class="rating">
                            <span id="rating">0</span>/5
                        </div>
                        <div class="stars" id="stars">
                            <span class="star" data-value="1">★</span>
                            <span class="star" data-value="2">★</span>
                            <span class="star" data-value="3">★</span>
                            <span class="star" data-value="4">★</span>
                            <span class="star" data-value="5">★</span>
                        </div>
                        <input type="hidden" name="review_rating" id="review_rating" value="0">
                        <p>Name:</p>
                        <textarea id="name" name="name" required></textarea>
                        <p>Share your review:</p>
                        <textarea id="review_description" name="review_description" placeholder="Write your review here" required></textarea>
                        <hr>
                        <button id="submit" value="submit">Submit</button>
                    </form>
                </div>
                <hr class="line-break w-50 mb-1">
            </div>
        </div>
    </div>

        <section class="all_reviews">
            <div class="col-12">
                <div class="row">
                    <h2 class="logo-font text-center mt-3">Customer Reviews of {{activity.name}}</h2>
                </div>
            </div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="review_container2">
                        <div class="col-lg-10 col-xl-8"> 
                            <!-- Your review container goes here -->
                            <div class="reviews">
                                {% for review in reviews %}
                                <div class="container my_review text-center">
                                    <div class="row">
                                        <div class="col-12 d-flex">
                                            <i class="fas fa-user"></i> {{ review.name }}. <i class="far fa-clock ml-auto"></i>{{ review.created }}
                                        </div>
                                        <hr class="w-100">
                                        <div class="col-12 d-flex">
                                            <div class="rating">
                                                {% for reviews in review.rating%}
                                                <span>&#9733;</span>
                                                {% endfor %}
                                            </div>
                                        </div>
                                        <div class="col-12 d-flex">
                                            {{ review.review_description }}
                                        </div>
                                    </div>
                                </div>
                                <hr class="w-50">
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    {% endblock %}


{% block postloadjs %}
    <script src="{% static 'activity/js/reviews.js' %}"></script>
{% endblock %}