.review_container {
    background-color: white;
    padding-top: 45px;
    padding-right: 45px;
    padding-left: 45px;
    padding-bottom: 15px;
    margin-top: 50px;
    margin-left: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 400px;
}

.my_review{
    border: #000 1px solid;
    padding-top: 10px;
}
 
h1 {
    font-size: 24px;
    margin: 0;
}

.reviews_header{
    margin-top: 50px;
}

.image-container{
    margin-top: 6rem;
}

.review_container2{
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 650px;
    margin-top: 20px;


}
 
.rating {
    font-size: 20px;
    margin: 10px 0;
}

.line-break{
    margin-top: 50px;
}
 
.stars {
    font-size: 30px;
    margin: 10px 0;
}
 
.star {
    cursor: pointer;
    margin: 0 5px;
}
 
.one {
    color: rgb(255, 0, 0);
}
 
.two {
    color: rgb(255, 106, 0);
}
 
.three {
    color: rgb(251, 255, 120);
}
 
.four {
    color: rgb(255, 255, 0);
}
 
.five {
    color: rgb(24, 159, 14);
}
 
textarea {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
 
button {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
 
button:hover {
    background-color: #0056b3;
}
 
.reviews {
    margin-top: 20px;
    text-align: left;
}
 
.review {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    margin: 10px 0;
}
 
.review p {
    margin: 0;
}

.review-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin: 20px 0;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
.review-card .username {
    font-weight: bold;
    font-size: 1.2em;
}
.review-card .date {
    color: #777;
    font-size: 0.9em;
}
.review-card .stars {
    color: #f5c518;
}
.review-card .stars span {
    font-size: 1.2em;
}
.review-card .review-description {
    margin-top: 15px;
    font-size: 18px;
}

