<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Activities
            </a>
            <div class="dropdown-menu border-0">
                <a href="{% url 'activity' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'activity' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'activity' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'activity' %}" class="dropdown-item">All Activities</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Activity Type
            </a>
            <div class="dropdown-menu border-0">
                <a href="{% url 'activity' %}?category=Adventure" class="dropdown-item">Adventure</a>
                <a href="{% url 'activity' %}?category=Family" class="dropdown-item">Family</a>
                <a href="{% url 'activity' %}?category=Couples" class="dropdown-item">Couples</a>
                <a href="{% url 'activity' %}?category=Culture and History" class="dropdown-item">Culture & History</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="homeware-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Country
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="homeware-link">
                <a href="{% url 'activity' %}?country=France" class="dropdown-item">France</a>
                <a href="{% url 'activity' %}?country=Germany" class="dropdown-item">Germany</a>
                <a href="{% url 'activity' %}?country=Italy" class="dropdown-item">Italy</a>
                <a href="{% url 'activity' %}?country=Spain" class="dropdown-item">Spain</a>
                <a href="{% url 'activity' %}?country=Greece" class="dropdown-item">Greece</a>
                <a href="{% url 'activity' %}?country=Turkey" class="dropdown-item">Turkey</a>
                <a href="{% url 'activity' %}?country=Croatia" class="dropdown-item">Croatia</a>
                <a href="{% url 'activity' %}?country=Thailand" class="dropdown-item">Thailand</a>
                <a href="{% url 'activity' %}?country=Australia" class="dropdown-item">Australia</a>
                <a href="{% url 'activity' %}?country=Indonesia" class="dropdown-item">Indonesia</a>
                <a href="{% url 'activity' %}" class="dropdown-item">All Countries</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="" class="dropdown-item">All Specials</a>
            </div>
        </li>
    </ul>
</div>