{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="error-container" style="margin-left:100px;margin-top:150px;color:#fff;font-size:26px">
    <img src="https://beaten-track.s3.amazonaws.com/media/logo.png" alt="Site Logo">
    <h1>404</h1>
    <p>Oops! Something went wrong! Please try again</p>
    <p><a href="{% url 'activity' %}">Go back to the homepage</a></p>
</div>
{% endblock %}